/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #f4f4f4;
    color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 120px;
}

h4{
    font-family: 'Impact', sans-serif;
            font-size: 3rem; /* Título grande para impacto */
            color: #D32F2F; /* Rojo fuerte */
            text-transform: uppercase; /* Mayúsculas para resaltar */
            letter-spacing: 5px; /* Espaciado amplio entre letras */
            text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Sombra para resaltar más */
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
   
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    color: #333;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: #ff0606;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}


/* Diseño responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #333;
    }

    .nav-links li {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }

    .nav-links a {
        padding: 15px;
        width: 100%;
    }

    .hamburger {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }

    .dropdown-content {
        position: static;
    }
}


.info-section, .info-section1 {
    padding: 40px;
    text-align: center;
}

.info-section {
    background-color: #FFCC00;
    color: #000;
}

.info-section1 {
    background-color: #F5F5F5;
    color: #000;
}

.info-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.grupo-imagen {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    border: #000;
}

/* Carrusel */
.carousel {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}

.carousel h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #D32F2F;
}

.carousel-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.carousel-item {
    margin: 0 15px;
    transition: transform 0.5s ease-in-out;
}

.carousel-item img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    border: 3px solid #D32F2F;
}

/* Sección Nuestras Secciones */
.secciones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Haciendo las columnas adaptables */
    justify-items: center; /* Centra los elementos dentro de cada celda */
    gap: 20px;
    padding: 40px;
    background-color: #F5F5F5;
}

.seccion {
    background-color: #FFCC00;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #000;
    width: 100%; /* Asegura que la sección ocupe el 100% del espacio disponible en su celda de la cuadrícula */
}

.Manada, .Tropa, .Comunidad, .Clan {
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Manada img, .Tropa img, .Comunidad img, .Clan img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.Manada:hover, .Tropa:hover, .Comunidad:hover, .Clan:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.Manada {
    background-color: #FFCC00;
}

.Manada a {
    text-decoration: none;
    color: #000;
    display: block;
}

.Manada h3 {
    color: #000;
    margin-bottom: 10px;
}

.Manada p {
    color: #000;
}

.Tropa {
    background-color: #03961c;
}

.Tropa a {
    text-decoration: none;
    color: #000;
    display: block;
}

.Tropa h3 {
    color: #000;
    margin-bottom: 10px;
}

.Tropa p {
    color: #000;
}

.Comunidad {
    background-color: #0049d1;
}

.Comunidad a {
    text-decoration: none;
    color: #000;
    display: block;
}

.Comunidad h3 {
    color: #000;
    margin-bottom: 10px;
}

.Comunidad p {
    color: #000;
}

.Clan {
    background-color: #ff0000;
}

.Clan a {
    text-decoration: none;
    color: #000;
    display: block;
}

.Clan h3 {
    color: #000;
    margin-bottom: 10px;
}

.Clan p {
    color: #000;
}

.seccion h3 {
    color: #D32F2F;
    margin-bottom: 10px;
}

.seccion p {
    color: #000;
}

/* Estilos para el Footer */
.footer {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column 2x3; /* Alinea los elementos en columna */
    justify-content: center;
    align-items: center; /* Centra los elementos dentro del footer */
    gap: 20px; /* Añade un espacio entre los elementos */
}

.footer-left, .footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Espacio entre los logos */
}

.footer-logo {
    width: 100px; /* Ajusta el tamaño de los logos según sea necesario */
    height: auto;
}

.footer .social-links {
    display: flex; /* Los iconos estarán en una fila */
    justify-content: lef;
    gap: 20px; /* Espacio entre los iconos */
}

.footer .social-links a {
    color: #FFCC00; /* Amarillo para los iconos */
    text-decoration: none;
}

.footer .social-links a:hover {
    color: #03961c; /* Rojo al hacer hover */
}

.footer .social-links a img {
    width: 40px; /* Ajusta el tamaño de los iconos */
    height: auto;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #ffffff; /* Asegura que los enlaces sean blancos */
    text-decoration: none;
}

/* Media Queries para Responsive */

/* Móviles */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin: 20px 0; /* Ajusta el espaciado del logo en móviles */
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        margin-left: 0;
        margin-top: 10px;
    }

    .secciones {
        grid-template-columns: 1fr 1fr;
    }

    .carousel-container {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
    }
}

/* Tabletas */
@media screen and (max-width: 1024px) {
    .secciones {
        grid-template-columns: 1fr 1fr ;
    }

    .carousel-container {
        flex-direction: column;
    }

    .footer-left, .footer-right {
        flex-direction: column;
        align-items: center;
    }

    .footer .social-links {
        justify-content: center;
    }
}
