/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff; /* Fondo blanco para dar contraste */
    color: #333;
}

header {
    background-color: #f4f4f4; /* Fondo gris muy claro */
    color: #000000; /* Negro */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 120px;
}

h4 {
    font-family: 'Impact', sans-serif;
    font-size: 3rem; /* Título grande para impacto */
    color: #D32F2F; /* Rojo fuerte */
    text-transform: uppercase; /* Mayúsculas para resaltar */
    letter-spacing: 5px; /* Espaciado amplio entre letras */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Sombra para resaltar más */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

.nav-links a:hover {
    color: #D32F2F;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.info-section {
    padding: 40px;
    text-align: center;
    background-color: #FFCC00; /* Amarillo */
    color: #000000; /* Negro */
}

.info-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Estilos para el contenedor de los planes */
.plans-container {
    display: flex;
    justify-content: center; /* Centra los cards */
    gap: 20px; /* Espacio entre los cards */
    padding: 40px;
    background-color: #ffffff; /* Fondo blanco */
    color: #fff; /* Texto blanco */
    flex-wrap: wrap; /* Permite que los cards se ajusten a múltiples líneas en pantallas pequeñas */
}

.plan-card {
    background-color: #000000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    width: 250px; /* Ancho fijo para cada card */
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #f2ff00; /* Borde blanco */
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.plan-cardV {
    background-color: #000000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    width: 250px; /* Ancho fijo para cada card */
    padding: 23px;
    border-radius: 10px;
    border: 2px solid #03961c; /* Borde verde */
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.plan-cardS {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    width: 250px; /* Ancho fijo para cada card */
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #f12525; /* Borde rojo */
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.plan-cardG {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    width: 250px; /* Ancho fijo para cada card */
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #f2ff00; /* Borde amarillo */
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.plan-cardM {
    background-color: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
    width: 500px; /* Ancho fijo para cada card */
    padding: 20px;
    border: 2px solid #572364;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(207, 0, 0, 0.3); /* Sombra suave */
}

.plan-card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #fff; /* Blanco */
}


.plan-card p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #ccc; /* Gris claro */
}

input[type="checkbox"] {
    display: none; /* Ocultar el checkbox */
}

/* Estilo del botón */
.menu-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.menu-button:hover {
    background-color: #000000;
    border: 22px #ffffff;
    border-radius: 5px;
}

/* Ocultar el contenido por defecto */
.hidden-menu {
    display: none;
    padding: 20px;
    background-color: #333; /* Fondo gris oscuro */
    border-radius: 5px;
    border: 1px solid #666; /* Borde gris */
    color: #fff;
}

/* Mostrar el contenido cuando el checkbox es marcado */
input[type="checkbox"]:checked + .menu-button + .hidden-menu {
    display: block;
}

/* Estilos para el Footer */
.footer {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column 2x3; /* Alinea los elementos en columna */
    justify-content: center;
    align-items: center; /* Centra los elementos dentro del footer */
    gap: 20px; /* Añade un espacio entre los elementos */
}

.footer-left, .footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Espacio entre los logos */
}

.footer-logo {
    width: 100px; /* Ajusta el tamaño de los logos según sea necesario */
    height: auto;
}

.footer .social-links {
    display: flex; /* Los iconos estarán en una fila */
    justify-content: lef;
    gap: 20px; /* Espacio entre los iconos */
}

.footer .social-links a {
    color: #FFCC00; /* Amarillo para los iconos */
    text-decoration: none;
}

.footer .social-links a:hover {
    color: #03961c; /* Rojo al hacer hover */
}

.footer .social-links a img {
    width: 40px; /* Ajusta el tamaño de los iconos */
    height: auto;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #ffffff; /* Asegura que los enlaces sean blancos */
    text-decoration: none;
}

/* Media Queries para Responsive */

/* Móviles */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin: 20px 0; /* Ajusta el espaciado del logo en móviles */
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        margin-left: 0;
        margin-top: 10px;
    }

    .secciones {
        grid-template-columns: 1fr 1fr;
    }

    .carousel-container {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
    }
}

/* Tabletas */
@media screen and (max-width: 1024px) {
    .secciones {
        grid-template-columns: 1fr 1fr ;
    }

    .carousel-container {
        flex-direction: column;
    }

    .footer-left, .footer-right {
        flex-direction: column;
        align-items: center;
    }

    .footer .social-links {
        justify-content: center;
    }
}
